.country {
    border: 1px solid seagreen;
    border-radius: 10px;
    padding: 10px;
}

.country img {
    width: 95%;
}
.bg-red {
    background-color: red;
}

.flex {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}